<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
 "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="prop" class="org.websparrow.beans.PropDi">
		<property name="driver">
			<props>
				<prop key="class_path">com.mysql.jdbc.Driver</prop>
				<prop key="url">jdbc:mysql://127.0.0.1:3306/database</prop>
				<prop key="user_name">system</prop>
				<prop key="password">manager</prop>
			</props>
		</property>
	</bean>
</beans>