<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- load properties file data into IOC context scope -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="driver.properties" />
	</bean>

	<!-- inject context scope data into required bean/class -->
	<bean id="connect" class="org.websparrow.beans.ConnectionManager">
		<property name="driver" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="userName" value="${user}" />
		<property name="password" value="${pwd}" />
	</bean>

</beans>