<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="p" class="org.websparrow.beans.Principal" depends-on="t" />

	<bean id="t" class="org.websparrow.beans.Teacher" depends-on="s" />

	<bean id="s" class="org.websparrow.beans.Student" />

</beans>