<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- scan the package -->
	<context:component-scan base-package="org.websparrow.beans" />

	<!-- activate annotations -->
	<context:annotation-config />

	<!-- manual injection for primitive type -->
	<bean id="s1" class="org.websparrow.beans.State">
		<property name="stateName" value="Uttar Pradesh" />
	</bean>
	
</beans>